# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS y Rider
.vs/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Dotnet secret manager
secrets.json

# ASP.NET files
appsettings.Development.json

# Migrations binaries
Migrations/bin/
Migrations/obj/

# Env files
.env*

# Node modules (si usas Blazor WASM o SPA)
node_modules/

# Coverage
coverage/
lcov-report/

# SQLite or local DB
*.db
*.sqlite
*.sqlite3

# Git conflict
*.orig

# Temporary
*.tmp
*.bak
